[submodule "CadNutriSubModule"]
	path = CadNutriSubModule
	url = https://github.com/CaduSaless/CadNutriSubModule.git
[submodule "services/CadNutriSubModuleAltura"]
	path = CadNutriSubModuleAltura
	url = git@github.com:Heitormonteiroo/CadNutriSubModuleAltura.git
