[submodule "CadNutriSubModule"]
	path = CadNutriSubModule
	url = https://github.com/CaduSaless/CadNutriSubModule.git
[submodule "services/CadNutriSubModuleAltura"]
	path = CadNutriSubModuleAltura
	url = https://github.com/Heitormonteiroo/CadNutriSubModuleAltura.git
[submodule "CadNutriSubModulePeso"]
	path = CadNutriSubModulePeso
	url = https://github.com/Heitormonteiroo/CadNutriSubModulePeso.git
[submodule "CadNutriSubModuleAltura"]
	url = https://github.com/Heitormonteiroo/CadNutriSubModuleAltura.git
